<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP MOTORS - Sean Layton</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1> Welcome to PHP Motors </h1>
    </header>
    <nav>
        <a href="#">Home</a>
        <a href="#">Products</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
    <section>
        <div class="gallery">
            <div class="gallery-item">
                <a href="#"><img src="image1.jpg" alt="Image 1"></a>
            </div>
            <div class="gallery-item">
                <a href="#"><img src="image2.jpg" alt="Image 2"></a>
            </div>
            <div class="gallery-item">
                <a href="#"><img src="image3.jpg" alt="Image 3"></a>
            </div>
            <div class="gallery-item">
                <a href="#"><img src="image4.jpg" alt="Image 4"></a>
            </div>
        </div>
    </section>
</body>
</html>



